.column{
  border:2px solid black;
  background-color:grey;
  width:30%;
  padding:5px;
  margin: 10px;
  float:left;
}

body {
  background-color: #C0C0C0;
  font-family: sans-serif;
}
.column h1{
  text-align: center;
  font-size: 32px;
}

.title h1{
  text-align: center;
  font-size: 54px;
}

.column img{
  width:250px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}

.column ul{
  text-align: center;
  font-size: 24px;
  list-style-position: inside;
}

h3{
  text-align: center;
}

.footer{
  clear: both;
}

@media screen and (max-width: 1000px){
  body{
    background: red;
}
